<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
  </head>
  <body>

    <section  class="myHero">
     
          <div id="header">Header</div> 
   
    </section>

    <section>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique et nostrum quidem ipsa veritatis, earum, illo illum iste dolores quam molestiae alias, id ut error ducimus eveniet dicta dignissimos eaque.
            Nemo quos, nostrum nam neque quae tenetur esse dolor adipisci reprehenderit facilis, eum molestias quidem sunt pariatur! Autem dolorum, doloremque vel quos rem, nobis animi repudiandae magnam, eos blanditiis alias.
            Quia voluptate, magnam pariatur expedita porro ad fuga molestias alias, praesentium odit similique voluptatibus esse quisquam deleniti. Dolore aperiam aut obcaecati eum, culpa, nihil corrupti modi explicabo doloremque molestiae accusantium.
            Laudantium rerum a natus eum consequuntur accusantium ducimus sed tempore dolore, quo aspernatur distinctio cupiditate mollitia, nam facilis hic autem error esse veniam magni eius provident sint iusto amet? Quos.
            In beatae iste officiis fuga quis possimus asperiores reprehenderit voluptatibus? Similique velit culpa eos omnis iste, commodi et nobis perferendis ducimus iure dolores non quibusdam consequuntur porro facilis? Iure, molestias?
            Iste repudiandae aspernatur, ex nemo at aut nesciunt aliquid blanditiis culpa tempora odio illum deserunt eaque repellat sequi! Velit, non perspiciatis! Deleniti doloremque sunt obcaecati illum, dolorem hic recusandae autem.
            Iste exercitationem unde dicta, natus magni ratione molestiae amet placeat et iure earum quidem quas voluptatum labore libero quisquam est veniam ex. Iusto omnis molestias assumenda rerum expedita quae quo?
            Quia ut, at minima perspiciatis nesciunt dolores ab veniam minus voluptas voluptate vel sint impedit accusamus error accusantium incidunt, a possimus distinctio aspernatur aliquam officiis! Delectus rem optio repellendus quibusdam!
            Eos nulla aut amet, quasi odio excepturi exercitationem ullam asperiores tempore, architecto, libero magnam? Debitis totam recusandae beatae dolorem sed temporibus odit pariatur neque, magnam dolorum! Officia deleniti eum fugit!
            Ipsam dicta fuga ab est voluptatum consectetur sint, neque quisquam, eius, magni aliquid. Laudantium eligendi, aperiam optio autem nihil cum omnis in unde dignissimos expedita, accusantium, pariatur ratione voluptate ad.</p>
  
        <h1><%= title %></h1>
        <p>Wejhgkjgj <%= title %></p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique et nostrum quidem ipsa veritatis, earum, illo illum iste dolores quam molestiae alias, id ut error ducimus eveniet dicta dignissimos eaque.
        Nemo quos, nostrum nam neque quae tenetur esse dolor adipisci reprehenderit facilis, eum molestias quidem sunt pariatur! Autem dolorum, doloremque vel quos rem, nobis animi repudiandae magnam, eos blanditiis alias.
        Quia voluptate, magnam pariatur expedita porro ad fuga molestias alias, praesentium odit similique voluptatibus esse quisquam deleniti. Dolore aperiam aut obcaecati eum, culpa, nihil corrupti modi explicabo doloremque molestiae accusantium.olore aperiam aut obcaecati eum, culpa, nihil corrupti modi explicabo doloremque molestiae accusantium.
        Laudantium rerum a natus eum consequuntur accusantium ducimus sed tempore dolore, quo aspernatur distinctio cupiditate mollitia, nam facilis hic autem error esse veniam magni eius provident sint iusto amet? Quos.
        In beatae iste officiis fuga quis possimus asperiores reprehenderit voluptatibus? Similique velit culpa eos omnis iste, commodi et nobis perferendis ducimus iure dolores non quibusdam consequuntur porro facilis? Iure, molestias?
        Iste repudiandae aspernatolore aperiam aut obcaecati eum, culpa, nihil corrupti modi explicabo doloremque molestiae accusantium.
        Laudantium rerum a natus eum consequuntur accusantium ducimus sed tempore dolore, quo aspernatur distinctio cupiditate mollitia, nam facilis hic autem error esse veniam magni eius provident sint iusto amet? Quos.
        In beatae iste officiis fuga quis possimus asperiores reprehenderit voluptatibus? Similique velit culpa eos omnis iste, commodi et nobis perferendis ducimus iure dolores non quibusdam consequuntur porro facilis? Iure, molestias?
        Iste repudiandae aspernatur, ex nemo at aut nesciunt aliquid blanditiis culpa tempora odio illum deserunt eaque repellat sequi! Velit, non perspiciatis! Deleniti doloremque sunt obcaecati illum, dolorem hic recusandae autem.
        Iste exercitationem unde dicta, natus magni ratione molestiae amet placeat et iure earum quidem quas voluptatum labore libero quisquam est veniam ex. Iusto omnis molestias assumenda rerum expedita quae quo?
        Quia ut, at minima perspiciatis nesciunt dolores ab veniam minus voluptas voluptate vel sint impedit accusamus error accusantium incidunt, a possimus distinctio aspernatur aliquam officiis! Delectus rem optio repellendus quibusdam!
        Eos nulla aut amet, quasi odio excepturi exercitationem ullam asperiores tempore, architecto, libero magnam? Debitis totam recusandae beatae dolorem sed temporibus odit pariatur neque, magnam dolorum! Officia deleniti eum fugit!
        Ipsam dicta fuga ab est voluptatum consectetur sint, neque quisquam, olore aperiam aut obcaecati eum, culpa, nihil corrupti modi explicabo doloremque molestiae accusantium.
        Laudantium rerum a natus eum consequuntur accusantium ducimus sed tempore dolore, quo aspernatur distinctio cupiditate mollitia, nam facilis hic autem error esse veniam magni eius provident sint iusto amet? Quos.
        In beatae iste officiis fuga quis possimus asperiores reprehenderit voluptatibus? Similique velit culpa eos omnis iste, commodi et nobis perferendis ducimus iure dolores non quibusdam consequuntur porro facilis? Iure, molestias?
        Iste repudiandae aspernatur, ex nemo at aut nesciunt aliquid blanditiis culpa tempora odio illum deserunt eaque repellat sequi! Velit, non perspiciatis! Deleniti doloremque sunt obcaecati illum, dolorem hic recusandae autem.
        Iste exercitationem unde dicta, natus magni ratione molestiae amet placeat et iure earum quidem quas voluptatum labore libero quisquam est veniam ex. Iusto omnis molestias assumenda rerum expedita quae quo?
        Quia ut, at minima perspiciatis nesciunt dolores ab veniam minus voluptas voluptate vel sint impedit accusamus error accusantium incidunt, a possimus distinctio aspernatur aliquam officiis! Delectus rem optio repellendus quibusdam!
        Eos nulla aut amet, quasi odio excepturi exercitationem ullam asperiores tempore, architecto, libero magnam? Debitis totam recusandae beatae dolorem sed temporibus odit pariatur neque, magnam dolorum! Officia deleniti eum fugit!
        Ipsam dicta fuga ab est voluptatum consectetur sint, neque quisquam, ur, ex nemo at aut nesciunt aliquid blanditiis culpa tempora odio illum deserunt eaque repellat sequi! Velit, non perspiciatis! Deleniti doloremque sunt obcaecati illum, dolorem hic recusandae autem.
        Iste exercitationem unde dicta, natus magni ratione molestiae amet placeat et iure earum quidem quas voluptatum labore libero quisquam est veniam ex. Iusto omnis molestias assumenda rerum expedita quae quo?
        Quia ut, at minima perspiciatis nesciunt dolores ab veniam minus voluptas voluptate vel sint impedit accusamus error accusantium incidunt, a possimus distinctio aspernatur aliquam officiis! Delectus rem optio repellendus quibusdam!
        Eos nulla aut amet, quasi odio excepturi exercitationem ullam asperiores tempore, architecto, libero magnam? Debitis totam recusandae beatae dolorem sed temporibus odit pariatur neque, magnam dolorum! Officia deleniti eum fugit!
        Ipsam dicta fuga ab est voluptatum consectetur sint, neque quisquam, 
        Laudantium rerum a natus eum consequuntur accusantium ducimus sed tempore dolore, quo aspernatur distinctio cupiditate mollitia, nam facilis hic autem error esse veniam magni eius provident sint iusto amet? Quos.
        In beatae iste officiis fuga quis possimus asperiores reprehenderit voluptatibus? Similique velit culpa eos omnis iste, commodi et nobis perferendis ducimus iure dolores non quibusdam consequuntur porro facilis? Iure, molestias?
        Iste repudiandae aspernatur, ex nemo at aut nesciunt aliquid blanditiis culpa tempora odio illum deserunt eaque repellat sequi! Velit, non perspiciatis! Deleniti doloremque sunt obcaecati illum, dolorem hic recusandae autem.
        Iste exercitationem unde dicta, natus magni ratione molestiae amet placeat et iure earum quidem quas voluptatum labore libero quisquam est veniam ex. Iusto omnis molestias assumenda rerum expedita quae quo?
        Quia ut, at minima perspiciatis nesciunt dolores ab veniam minus voluptas voluptate vel sint impedit accusamus error accusantium incidunt, a possimus distinctio aspernatur aliquam officiis! Delectus rem optio repellendus quibusdam!
        Eos nulla aut amet, quasi odio excepturi exercitationem ullam asperiores tempore, architecto, libero magnam? Debitis totam recusandae beatae dolorem sed temporibus odit pariatur neque, magnam dolorum! Officia deleniti eum fugit!
        Ipsam dicta fuga ab est voluptatum consectetur sint, neque quisquam, eius, magni aliquid. Laudantium eligendi, aperiam optio autem nihil cum omnis in unde dignissimos expedita, accusantium, pariatur ratione voluptate ad.</p>
    </section>

    <script src="public/javascripts/functions.js"></script>
  </body>
</html>
