<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Link for google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <!-- Link for bootstrap navbar -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="public/javascripts/functions.js">
    <title>Car Blog</title>
  </head>
  <body>
    <!-- Added hero Section -->
    <section class="hero">
        <!-- Added Navbar with bootstrap includes responsiveness -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Car Blog</a>
          <!-- Responsiveness button for burger menu -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- Navbar Items -->
            <li class="nav-item active">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Archive</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Sign-in</a>
            </li>
          </ul>
        </div>
      </nav>
  
    <!-- Main heading and sub-heading -->
    <main class="main-section">
      <h1 class="main-heading">Car Fanatic Blog</h1>
      <h2 class="main-sub-heading">
        The road to success is always under construction
      </h2>
    </main>  
    </section>
    
    <!-- Sections for each blog -->
    <section class="content" >
      <!-- Grid container 1 -->
      <div class="container1" >
        <!-- Blog 1 image -->
        <div class="blog1-img" ></div>
        <!-- Blog 1 heading -->
        <div class="blog1-head">
          <h1>
            V8-Pure Muscle
          </h1>
        </div>
        <!-- Blog 1 paragraph -->
        <div class="blog1-para">
          <h3>
            03 Feruary 2019
          </h3>
          <p>
            Shaped and made in different sizes the V8 Pure Muscle has an unleashing amount of power. Built by Roderick Ferez the motor is set to put out over 1000 horsepower. Roderick mensions that not only him but his wife plays a big role in creating this master piece engines. She actually orders and handles all parts and shipping in order for the motor to be built. 
            So far only 2 complete motors has been sold and the price doesn't come easy Roderick says that all components are made out of titanium so it can withstand high amounts of tempretures and strains, so check your wallet when purchasing this master piece.
          </p>
          <!-- Read more jumps to archive page -->
          <a href="#">Read More...</a>
        </div>
      </div>
    </section>

    <!-- Parallax image between blog -->
    <div class="parallax2"></div>

    <!-- Blog 2 -->
    <section class="content" >
      <!-- Grid container 2 -->
      <div class="container2" >
      <!-- Blog 2 image -->
      <div class="blog2-img" ></div>
        <!-- Blog 2 heading -->
        <div class="blog2-head">
          <h1>
            Audi E-Tron 2019
          </h1>
        </div>
        <!-- Blog 2 paragraph -->
        <div class="blog2-para">
          <h3>
            17 April 2019
          </h3>
          <p>
            The new release is finally here the all new Audi E-tron fully electric powered and the first ever vehicle to have a 4 wheel drive with a battery operated system. The tron as the designers call it has a lithium ion helicopter batteries powering it and can reach up to 400 kilometers with one charge this totally changes how advanced electric vehicles are becoming. When on charge it takes just one hour to fully recharge the system and the user can now continue with another 400 kilometers. Eco friendly plays a big role in todays society and because the Tron is so quiet engineers designed a speaker to fit under the car to create the combustion noise of a real like engine and yes it has the Audi Fuel stratified injection sound so pedestrians are able to hear you come on.
          </p>
           <!-- Read more jumps to archive page -->
          <a href="#">Read More...</a>
        </div>
      
      </div>
    </section>

    <!-- Parallax image between blog -->
    <div class="parallax3"></div>
 
    <!-- Blog 3 -->
    <section class="content" >
      <!-- Grid container 3 -->
      <div class="container3" >
      <!-- Blog 3 image -->  
      <div class="blog3-img" ></div>
        <!-- Blog 3 heading -->
        <div class="blog3-head">
          <h1>
            Intelligent Interior
          </h1>
        </div>
      <!-- Blog 2 paragraph -->
      <div class="blog3-para">
          <h3>
              22 January 2019
            </h3>
          <p>
            Yet another has been displayed at this weekends essens car show in Germany. The Intelligent Interior made ot perfection the Intelligent Interior is both luxorious and very clever in all ways. Designed and engineered by the famous Wolfburg Schmidt knowing is audience Schmidt incorporated all ideas from previous clients and asked what they would want in a vehicle. The outcome was tremendous and Schmidt immediately became the process of creating this amamzing feedback. The most intriguing for all was when you entered the vehicle it would sense your tempreture, heartbeat and and even your size and weight by this the car would automatically adjust your seat and set it to the right tempreture. Schmidt soon wants to sell this concept to a dealership to expand his idea and let the world know whats out there. 
          </p>
           <!-- Read more jumps to archive page -->
          <a href="#">Read More...</a>
        </div>
      </div>
    </section>

<!-- Footer Section added -->
<footer  class="footer">
  <!-- Grid layout for footer -->
  <div class="grid-footer">
    <!-- Profile section with detials -->
    <div class="profile">
      <div class="profile-pic"></div>
        <p>315 Walter Street, Muizenburg</p>
        <p>P.O Box 8520</p>
        <p>izzisams@When.mail</p>
        <p>+21 021 052 2456</p>
    </div>

    <!-- Footer blog links -->
    <div class="footer-blog-links">
      <h3>Blog Posts</h3>
      <p><a href="">V8-Pure Muscle</a></p> 
      <p><a href="">  Audi E-Tron 2019</a></p>
      <p><a href="">Intelligent Interior</a></p>
      <p><a href="">Hooniverse Asks</a></p>
    </div>

    <!-- Footer misc items -->
    <div class="footer-misc">
        <h3>Misc</h3>
        <p><a href="">Register</a></p> 
        <p><a href="">Sign-in</a></p>
        <p><a href="">Privacy Policy</a></p>
        <p><a href="">Support</a></p>
    </div>
    
    <!-- Footer social media links -->
    <div class="footer-social">
        <h3>Social Media</h3> 
        <p><a href="">Facebook</a></p> 
        <p><a href="">Twitter</a></p>
        <p><a href="">Instagram</a></p>
        <p><a href="">Pintrest</a></p>
    </div>
</div>
</footer>

<!-- Copyright section added -->
<section class="copyright">
  <p>
    Copyright &copy; 2019 Designed by <a href="">Ismet_Samsodien</a> All rights reserved.
  </p>
</section>

<!-- Scripts for navbar bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>
