<!DOCTYPE html>
<html>
  <head>
    <title>Car Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="public/javascripts/functions.js">
  </head>
  <body>
    <section class="hero">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display:none">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
            <button onclick="myFunction()" class="btn btn-outline-success my-2 my-sm-0" type="submit" >Sign-in</button>
          </form>
        </div>
      </nav>
  
      <div class="container register-form ">
        <div class="form show1">
            <div class="note">
                <p>This is a simpleRegister Form made using Boostrap.</p>
            </div>

            <!-- <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone Number *" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Password *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Confirm Password *" value=""/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btnSubmit">Submit</button>
                
            </div> -->
        </div>
    </div>
  
  <main class="main-section">
      <h1 class="main-heading">Car Fanatic Blog</h1>
      <h2 class="main-sub-heading">
        The road to success is always under construction
      </h2>
  </main>
      
      
    </section>
    

    <section class="content" >
    
      <div class="container1" >
         


        
      <div class="blog1-img" >
        </div>

        <div class="blog1-head">
            <h1>
              V8-Pure Muscle
           </h1>
        </div>

      <div class="blog1-para">
          <h3>
            03 Feruary 2019
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime cupiditate aliquam velit deserunt at sed consectetur odit distinctio? Neque, laborum modi atque adipisci distinctio corrupti facilis amet maiores nulla eligendi.
            Quisquam tempora pariatur reprehenderit dolor doloribus iusto! Placeat et perferendis distinctio. Nihil ut esse, autem veniam expedita temporibus optio nobis a omnis eius molestias? Voluptate esse est autem illo repellat.
            Odio provident fugiat est labore, reiciendis, neque officia natus omnis ut optio pariatur. Soluta repudiandae quod, consequuntur autem tenetur in, obcaecati laborum reprehenderit, iste odio ea! Iste perspiciatis accusantium autem.
            Saepe quaerat quo repudiandae pariatur voluptatibus modi quas animi reiciendis deserunt minima iure commodi veritatis doloremque ipsum expedita amet, ipsa magnam iste voluptatum! Dolorem voluptates aliquam rem obcaecati autem deserunt?

          </p>
          <a href="#">Read More...</a>
        </div>
      
      </div>
     
    </section>




    <div class="parallax2"></div>


    <section class="content" >

      <div class="container2" >

             

    

      <div class="blog2-img" >
        </div>

        <div class="blog2-head">
            <h1>
              Audi E-Tron 2019
            </h1>
        </div>

      <div class="blog2-para">
          <h3>
              17 April 2019
            </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime cupiditate aliquam velit deserunt at sed consectetur odit distinctio? Neque, laborum modi atque adipisci distinctio corrupti facilis amet maiores nulla eligendi.
            Quisquam tempora pariatur reprehenderit dolor doloribus iusto! Placeat et perferendis distinctio. Nihil ut esse, autem veniam expedita temporibus optio nobis a omnis eius molestias? Voluptate esse est autem illo repellat.
            Odio provident fugiat est labore, reiciendis, neque officia natus omnis ut optio pariatur. Soluta repudiandae quod, consequuntur autem tenetur in, obcaecati laborum reprehenderit, iste odio ea! Iste perspiciatis accusantium autem.
            Saepe quaerat quo repudiandae pariatur voluptatibus modi quas animi reiciendis deserunt minima iure commodi veritatis doloremque ipsum expedita amet, ipsa magnam iste voluptatum! Dolorem voluptates aliquam rem obcaecati autem deserunt?
           
          </p>
          <a href="#">Read More...</a>
        </div>
      
      </div>
    </section>




    <div class="parallax3"></div>

    <section class="content" >

      <div class="container3" >

             

    

      <div class="blog3-img" >
        </div>

        <div class="blog3-head">
            <h1>
              Intelligent Interior
            </h1>
        </div>
      

      <div class="blog3-para">
          <h3>
              22 January 2019
            </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime cupiditate aliquam velit deserunt at sed consectetur odit distinctio? Neque, laborum modi atque adipisci distinctio corrupti facilis amet maiores nulla eligendi.
            Quisquam tempora pariatur reprehenderit dolor doloribus iusto! Placeat et perferendis distinctio. Nihil ut esse, autem veniam expedita temporibus optio nobis a omnis eius molestias? Voluptate esse est autem illo repellat.
            Odio provident fugiat est labore, reiciendis, neque officia natus omnis ut optio pariatur. Soluta repudiandae quod, consequuntur autem tenetur in, obcaecati laborum reprehenderit, iste odio ea! Iste perspiciatis accusantium autem.
            Saepe quaerat quo repudiandae pariatur voluptatibus modi quas animi reiciendis deserunt minima iure commodi veritatis doloremque ipsum expedita amet, ipsa magnam iste voluptatum! Dolorem voluptates aliquam rem obcaecati autem deserunt?
  
           
          </p>
          <a href="#">Read More...</a>

        </div>
      
      </div>
    </section>


<footer  class="footer">
  <div class="grid-footer">
    <div class="profile">
      <div class="profile-pic"></div>
        <p>315 Walter Street, Muizenburg</p>
        <p>P.O Box 8520</p>
        <p>izzisams@When.mail</p>
        <p>+21 021 052 2456</p>
    </div>

    <div class="footer-blog-links">
      <h3>Blog Posts</h3>
      <p><a href="">V8-Pure Muscle</a></p> 
      <p><a href="">  Audi E-Tron 2019</a></p>
      <p><a href="">Intelligent Interior</a></p>
      <p><a href="">Hooniverse Asks</a></p>
    </div>

    <div class="footer-misc">
        <h3>Misc</h3>
        <p><a href="">Register</a></p> 
        <p><a href="">Sign-in</a></p>
        <p><a href="">Privacy Policy</a></p>
        <p><a href="">Support</a></p>
    </div>
    
    <div class="footer-social">
        <h3>Social Media</h3> 
        <p><a href="">Facebook</a></p> 
        <p><a href="">Twitter</a></p>
        <p><a href="">Instagram</a></p>
        <p><a href="">Pintrest</a></p>
    </div>
</div>

</footer>

<section class="copyright">
<p>
    Copyright &copy; 2019 Designed by <a href="">Ismet_Samsodien</a> All rights reserved.
</p>

</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>
   function myFunction() {
    var x = document.getElementById("show1");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  } 
</script>
</body>
</html>
